<!doctype html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {{ seo.title() }}
        </title>
        <link rel="stylesheet" href="{{ asset('css/main.css', 'theme') }}">

        {{ seo.metatags() }}

        {# Would be nice to have a Bolt CMS way of embedding totally custom meta tags. #}
        <meta name="msvalidate.01" content="9C9A48C5703AE1F20CCFC6A443EA48DB" />
    </head>
    <body>

        {% block body %}

            {{ include('partials/_header.twig') }}

            <main id="main">
              <div class="centerWidth clearfix">

                {{ widgets('main_top') }}

                  {% block main %}
                  {% endblock main %}

                {{ widgets('main_bottom') }}

                {{ include('partials/_aside.twig') }}

              </div><!--/.centerWidth-->
            </main>

        {% endblock body %}

        {{ include('partials/_footer.twig') }}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </body>
</html>
