{# Setup variables to tweak the base HTML #}
{% set bodyclass = 'home' %}



{#
    Pull in content HTML blocks to use
#}
{% extends 'partials/_master.twig' %}



{% use 'partials/_bloglisting.twig' %}




{#
  OVERRIDE STANDARD HEADER
  Add the nice "Michael Born" line
#}
{% block header %}
    <!-- Header bar -->
    <header id="header" class="header clearfix">
      {{ include( 'partials/_nav.twig' ) }}
      <div class="centerWidth clearfix">
        {# the values in the 'config' object are taken directly from the file app/config/config.yml #}
          <div class="header__tagline">
            <h2 class="header__tagline__main"><a href="{{ path('homepage') }}">{{ config.get('general/sitename') }}</a></h2>
            {% if config.get('general/payoff') %}
                <p class="header__tagline__sub">{{ config.get('general/payoff') }}</p>
            {% endif %}
          </div><!--/.header__tagline-->
      </div><!--/.centerWidth-->
    </header>
{% endblock header %}






{# Override the _master.twig main block #}
{% block main %}

  {% setcontent entries = "entries/latest/5" allowpaging %}
  {% with {'entries': entries} %}
    {{ block('blog_entries') }}
  {% endwith %}

{% endblock main %}
